.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 64px;
  width: 64px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.featureBox {
  border: 1px solid grey;
  padding: 20px;
  margin-bottom: 30px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border: 1px solid #d3d3d3; /* Light grey border */
  border-radius: 10px; /* optional, for rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; /* Adjust height to make it square */
}

.featureBox:hover {
  background-color: #3a3a3a;
  transform: scale(1.05);
}

.featureText:hover {
  color: #90b2df; /* Change to your preferred hover color */
}

.featureSvg {
  width: 100px; /* Adjust size as necessary */
  height: 100px; /* Adjust size as necessary */
}

.faqSection {
  margin-top: 20px;
  margin-bottom: 48px;
  padding: 32px;
  background-color: var(--ifm-background-color); /* Uses the theme's background color */
  border: 1px solid #d3d3d3; /* Light grey border */
  border-radius: 10px; /* Rounded corners */
}

.faqColumns {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.faqColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns by default */
  gap: 32px; /* Adjust the gap between columns as needed */
}

@media (max-width: 996px) { /* Adjust breakpoint as needed */
  .faqColumns {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }
}


.faqColumn:last-child {
  margin-right: 0;
}

.faqItem {
  margin-bottom: 10px;
}

.faqArticleLink {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.faqArticleLink:hover {
  color: #90b2df; /* Change to your preferred hover color */
}

.moreLink {
  display: block;
  margin-top: 20px;
  text-align: right;
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

.moreLink:hover {
  text-decoration: underline;
}

@media (max-width: 996px) {
  .faqTitle {
    text-align: center;
  }
  .faqItem {
    text-align: center;
  }
}