/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  line-height: 2; /* Adjusts the space between lines of text */
  margin-bottom: 3rem; /* Adds space after each paragraph */

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 996px) {
  .searchContainer {
    margin-top: 32px;
}
}

.searchContainer button {
  width: 50%; /* Adjust width as needed */
  height: 64px; /* Adjust height as needed */
  padding: 10px 20px; /* Adjust padding as needed for text inside the button */
  font-size: 24px; /* Adjust font size as needed */
  border-radius: 8px;
}

  /* Media query for screens smaller than 768px */
@media (max-width: 996px) {
  .searchContainer button {
    width: 90%; /* Reduced width for smaller screens */
    height: 50px; /* Reduced height for smaller screens */
    font-size: 20px; /* Slightly smaller font size */
    padding: 8px 16px; /* Adjusted padding */
  }
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}