/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  line-height: 2; /* Adjusts the space between lines of text */
  margin-bottom: 3rem; /* Adds space after each paragraph */

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  align-items: center;
  justify-content: center;
}

.searchContainer button {
  width: 550px; /* Adjust width as needed */
  height: 64px; /* Adjust height as needed */
  padding: 10px 20px; /* Adjust padding as needed for text inside the button */
  font-size: 24px; /* Adjust font size as needed */
  border-radius: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}